.App {
  text-align: center;
  margin: 40px;
  padding: 20px;
}

.first
{
  background-color:orange;
  
}
.input
{
  background-color: white;
  color:'black';
  padding-bottom: 20px;
}
button:after {
  content: ' \002B';
}
.showItems {
  margin-top: 3rem;
  text-align: center;
  background-color:rgb(43, 92, 226);
  color:white;
  width: 150px;
  margin-left: 470px;
}
.showItems:hover{
  background-color:rgb(95, 8, 66)
}

